
[V200R007C10SPC300]
#
 sysname AC2
#
 set memory-usage threshold 0
#
ssl renegotiation-rate 1 
#
vlan batch 11 to 13 20 30 40 100
#
authentication-profile name default_authen_profile
authentication-profile name dot1x_authen_profile
authentication-profile name mac_authen_profile
authentication-profile name portal_authen_profile
authentication-profile name macportal_authen_profile
#
dhcp enable
#
diffserv domain default
#
radius-server template default
#
pki realm default
 rsa local-key-pair default
 enrollment self-signed
#
ike proposal default
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
free-rule-template name default_free_rule
#
portal-access-profile name portal_access_profile
#
aaa
 authentication-scheme default
 authentication-scheme radius
  authentication-mode radius
 authorization-scheme default
 accounting-scheme default
 domain default
  authentication-scheme radius
  radius-server default
 domain default_admin
  authentication-scheme default
 local-user admin password irreversible-cipher $1a$eOny4`Hb]I$a:IwN5y6iInvEe9\j0EA4;)7./>}HRWJsU(F_.&4$
 local-user admin privilege level 15
 local-user admin service-type http
#
interface Vlanif100
 ip address 192.168.100.3 255.255.255.0
 vrrp vrid 1 virtual-ip 192.168.100.1
#
interface GigabitEthernet0/0/1
 port link-type access
 port default vlan 100
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet0/0/3
#
interface GigabitEthernet0/0/4
#
interface GigabitEthernet0/0/5
#
interface GigabitEthernet0/0/6
#
interface GigabitEthernet0/0/7
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/8
 undo negotiation auto
 duplex half
#
interface NULL0
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
ssh server secure-algorithms cipher aes256_ctr aes128_ctr
ssh server key-exchange dh_group14_sha1
ssh client secure-algorithms cipher aes256_ctr aes128_ctr
ssh client secure-algorithms hmac sha2_256
ssh client key-exchange dh_group14_sha1
#
capwap source interface vlanif100
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
 protocol inbound all
user-interface vty 16 20
 protocol inbound all
#
wlan
 traffic-profile name default
 security-profile name default
 security-profile name sec-tech
  security wpa-wpa2 psk pass-phrase %^%#qJ=O0*hR=!Hg`\:fiPaHI,V$I2a2SXw,pg;IfTcO%^%# aes
 security-profile name sec-admin
  security wpa-wpa2 psk pass-phrase %^%#Y@f}'mC#2)`V*>2]YH%U7*tnHxh$qY9$jIMJ=.(U%^%# aes
 security-profile name sec-guest
  security wpa-wpa2 psk pass-phrase %^%#+IrLV]UzU>Hmtv,)us8N&/4-ENf5|79Kl"H&+(f:%^%# aes
 security-profile name sec-office
  security wpa-wpa2 psk pass-phrase %^%#v>JuOJHUz.ld0qTWZHDHpUBhH`)q454tfTQ4z+A5%^%# aes
 security-profile name sec-server
  security wpa-wpa2 psk pass-phrase %^%#gE|T)!R:U@4FjMEDUaYJ~x^TOyv^}.IFx4V;knaM%^%# aes
 security-profile name default-wds
 security-profile name sec-finance
  security wpa-wpa2 psk pass-phrase %^%#6W5PVKfc8<_-~b8Y+n{&xcvzU.QhCD]Z!9DVuCC7%^%# aes
 security-profile name default-mesh
 ssid-profile name default
 ssid-profile name ssid-tech
  ssid Tech-WIFI
 ssid-profile name ssid-admin
  ssid Admin-WIFI
 ssid-profile name ssid-guest
  ssid Guest-WIFI
 ssid-profile name ssid-office
  ssid Office-WIFI
 ssid-profile name ssid-server
  ssid Server-WIFI
 ssid-profile name ssid-finance
  ssid Finance-WIFI
 vap-profile name default
 vap-profile name vap-tech
  forward-mode tunnel
  service-vlan vlan-id 20
  ssid-profile ssid-tech
  security-profile sec-tech
 vap-profile name vap-admin
  forward-mode tunnel
  service-vlan vlan-id 11
  ssid-profile ssid-admin
  security-profile sec-admin
 vap-profile name vap-guest
  forward-mode tunnel
  service-vlan vlan-id 40
  ssid-profile ssid-guest
  security-profile sec-guest
 vap-profile name vap-office
  forward-mode tunnel
  service-vlan vlan-id 13
  ssid-profile ssid-office
  security-profile sec-office
 vap-profile name vap-server
  forward-mode tunnel
  service-vlan vlan-id 30
  ssid-profile ssid-server
  security-profile sec-server
 vap-profile name vap-finance
  forward-mode tunnel
  service-vlan vlan-id 12
  ssid-profile ssid-finance
  security-profile sec-finance
 wds-profile name default
 mesh-handover-profile name default
 mesh-profile name default
 regulatory-domain-profile name china
 regulatory-domain-profile name default
 air-scan-profile name default
 rrm-profile name default
 radio-2g-profile name default
 radio-5g-profile name default
 wids-spoof-profile name default
 wids-profile name default
 wireless-access-specification
 ap-system-profile name default
 port-link-profile name default
 wired-port-profile name default
 serial-profile name preset-enjoyor-toeap 
 ap-group name ap-tech
  regulatory-domain-profile china
  radio 0
   vap-profile vap-tech wlan 4
 ap-group name default
 ap-group name ap-admin
  regulatory-domain-profile china
  radio 0
   vap-profile vap-admin wlan 1
 ap-group name ap-guest
  regulatory-domain-profile china
  radio 0
   vap-profile vap-guest wlan 6
 ap-group name ap-office
  regulatory-domain-profile china
  radio 0
   vap-profile vap-office wlan 3
 ap-group name ap-server
  regulatory-domain-profile china
  radio 0
   vap-profile vap-server wlan 5
 ap-group name ap-finance
  regulatory-domain-profile china
  radio 0
   vap-profile vap-finance wlan 2
 ap-id 1 type-id 69 ap-mac 00e0-fcb0-5f90 ap-sn 2102354483100D27032B
  ap-name AP1
  ap-group ap-admin
 ap-id 2 type-id 69 ap-mac 00e0-fca2-61f0 ap-sn 210235448310B31F2567
  ap-name AP2
  ap-group ap-finance
 ap-id 3 type-id 69 ap-mac 00e0-fc67-51e0 ap-sn 2102354483103B2D1323
  ap-name AP3
  ap-group ap-office
 ap-id 4 ap-mac 00e0-fc85-31c0
  ap-name AP4
  ap-group ap-tech
 ap-id 5 ap-mac 00e0-fc99-3700
  ap-name AP5
  ap-group ap-server
 ap-id 6 type-id 69 ap-mac 00e0-fc2f-13b0 ap-sn 2102354483106A50BE03
  ap-name AP6
  ap-group ap-guest
 provision-ap
#
dot1x-access-profile name dot1x_access_profile
#
mac-access-profile name mac_access_profile
#
return